.bmi-container {
    max-width: 400px;      
    margin: 20px auto;      
    padding: 20px;          
    text-align: center;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  mat-form-field {
    display: block;        
    margin-bottom: 15px;    
  }
  
  button {
    margin-top: 20px;
  }
